# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

### In this notebook, I will include a comment in H1 with the exercise number and its description. Additionally, I will do the task we are asked to perform in the same markdown

# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science.
- List Data Science libraries
- Table of Data Science tools
- Introducing arithmetic expression examples
- Convert minutes to hours

# Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that we learnt during the second course of IBM Data Scientists on Coursera that we use are the following items:

1. **Python:** Used for its simplicity and a rich ecosystem of libraries such as NumPy and Pandas.

2. **R:** Commonly used for statistical analysis and visualization.

3. **SQL:** Essential for database management and querying.

# Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries by Data Scientists include:

1. **NumPy:** A powerful library for numerical computations on Python.

2. **Pandas:** Widely used for data manipulation and analysis.

3. **TensorFlow:** An open-source machine learning framework developed by Google.

# Exercise 6 - Create a markdown cell with a table of Data Science tools


| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| RStudio            |
| VSCode             |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

1. **Sum**
   In this example, we sum 1 plus 1.
   
   result = 1 + 1

2. **Minus**
   In this example, we perform 2 minus 1
   
   result = 2 - 1
   
3. **Multiplication**
   In this example, we are going to do 3 times 2
   
   result = 2 x 3

In [16]:
# Exercise 8 - Create a code cell to multiply and add numbers

### This is a simple arithmetic expression to multiply then add integers.

(3 * 4) + 5

17

In [20]:
# Exercise 9 - Create a code cell to convert minutes to hours

### This will convert 200 minutes to hours by diving by 60

##### if 60 minutes are an hour. Then,we are able to proceed with the convertion. 200 [min/hour] / 60 [min]. 
##### The result will be expressed as an hour format

200 / 60

3.3333333333333335

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
German Fuentes